<a href="https://colab.research.google.com/github/voyant16/alpacopractice/blob/main/19_%ED%8C%90%EB%8B%A4%EC%8A%A4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
pd.read_csv("concat_1.csv")

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3

In [ ]:
pd.read_csv("gapminder.tsv", sep='\t')

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]

In [ ]:
#파일을 생성하는 함수 / 불러오는 함수
f = open("test.txt", 'wt') #write text(새롭게 쓰는 기능)
f.write('hello')
f.close() #저장하고 끄는 기능

In [ ]:
f = open("test.txt", 'rt') #read text

data = f.read()

f.close()

In [ ]:
data

'hello'

In [ ]:
#이어쓰기
f = open("test.txt", 'at') #attach text
f.write('Hello World!')
f.close() #저장하고 끄는 기능